<span class="anchor" id="podcast"></span>
<div class="podcast sectionDiv">
  <div>
    <div class="sectionIconDiv">
      <img src="../../assets/svg/Podcast.svg" class="sectionIcon" />
    </div>
  </div>
  <div>
    <h2 class="sectionTitle">PODCAST</h2>
    <div>
      <p>
        Gut zuhören und vermitteln, das ist mein Job. Ich moderiere Ihre
        Präsentation, Diskussionsrunde oder Informationsveranstaltung.
      </p>
      <p>
        Ich bringe Sie ins Gespräch und sorge dafür, dass alle verstehen, worauf
        Sie hinauswollen. Wenn’s sein muss mit Humor.
      </p>
    </div>
    <div class="podcastLinkDiv">
      <a
        href="https://www.youtube.com/channel/UCcKzjTwAvPf_aahVjJYOi5A"
        target="_blank"
      >
        <img
          src="../../assets/svg/Youtube.svg"
          style="width: 2vw"
          alt="Youtube"
        />
      </a>
      <a
        href="https://podcasts.apple.com/de/podcast/vollreif/id1557455944"
        target="_blank"
      >
        <img
          src="../../assets/svg/Apple.svg"
          style="width: 2vw"
          alt="ApplePodcast"
        />
      </a>
      <a
        href="https://open.spotify.com/show/2nVsmNX51jtyyOl4ctvQiG"
        target="_blank"
      >
        <img
          src="../../assets/svg/Spotify.svg"
          style="width: 2vw"
          alt="Spotify"
        />
      </a>
    </div>
  </div>
</div>
