@import "../cssVariables.scss";
.deckblatt{
  background-image: url('../../assets/img/deckblatt.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: calc((0.664 * 90vw ) - 110pt );
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  color: $bright-color;
}
