<div class="filmeDiv">
  <div>
    <div class="filmeIconDiv"></div>
  </div>
  <div>
    <h2 class="filmeTitle">FILME</h2>
    <div>
      <p>
        Seit 2010 bin ich als Autorin fürs WDR-Fernsehen wieder rund um
        Düsseldorf unterwegs, am liebsten dort, wo es um schöne Geschichten
        geht.
      </p>
      <p>
        Hier habe ich in hunderten von TV-Beiträgen Menschen dabei unterstützt,
        ihr Anliegen, ihre Ideen, ihre Kunst zu präsentieren.
      </p>
      <p>Für Ihre Öffentlichkeitsarbeit setzen Sie auf meine Erfahrung.</p>
    </div>
  </div>
</div>
