@import "../cssVariables.scss";

.vitaDiv{
  padding: 0 12vw;
  margin: 4vh 0 0 0;
  display: flex;
}
.vitaImgDiv{
  width: 20vw;
  position: relative;
}
.vitaImg{
  object-fit: cover;
  width: 100%;
}
.vitaTextDiv{
  text-align: left;
  display: flex;
  flex-direction: column;
}
.vitaTitle{
  color: $dark-color;
  margin: 2vh 0 1vh 0;
  text-align: left;
}