<div class="vitaDiv">
  <div>
    <div class="vitaImgDiv">
      <img src="../../assets/img/vita.jpg" class="vitaImg" />
    </div>
  </div>
  <div class="vitaTextDiv">
    <h2 class="vitaTitle">VITA</h2>
    <div>
      <p>ist schnell erzählt.</p>
      <p>Nach dem Abi erstmal ein Jahr in New York durchgeschlagen.</p>
      <p>
        Hochschulstudium in Medienwissenschaften und Amerikanistik
        abgeschlossen, solide Ausbildung im Print durch Volontariat bei der
        Neuen Ruhr Zeitung, dort anschließend Redakteurin bis ich die
        Fernsehwelt des WDR entdecken wollte.
      </p>
    </div>
  </div>
</div>
