/* You can add global styles to this file, and also import other style files */
@import "./app/cssVariables.scss";

:root{
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
::selection{
  background-color:$pink-color;
}
body{
  margin: 0%;
}
h1{
  text-align: center;
  font-size: 8vw;
  font-weight: lighter;
  margin: 20% 0 0 0;
}
h2{
  text-align: center;
  font-size: 3vw;
  font-weight: lighter;
  margin: 0%;
}
h3{
  text-align: center;
  font-size: 1.5vw;
  font-weight: lighter;
  margin: 0%;
}

a{
  color: $dark-color;
  text-decoration: none;
}

.sectionDiv{
  padding: 0 12vw;
  margin: 4vh 0 0 0;
  display: flex;
}
.sectionTitle{
  text-align: left;
}
.sectionIconDiv{
  width: 20vw;
  position: relative;
  display: flex;
  justify-content: center;
}
.sectionIcon{
  width: 10vw;
}
.anchor{
  display: block;
  height: 10vh; /*same height as header*/
  margin-top: -115px; /*same height as header*/
  visibility: hidden;
}