/* You can add global styles to this file, and also import other style files */
@import "./app/cssVariables.scss";

:root{
  font-family: Arial, Helvetica, sans-serif;
}

body{
  margin: 0%;
}
h1{
  text-align: center;
  font-size: 80pt;
  font-weight: lighter;
  margin: 20% 0 0 0;
  color: $bright-color;
}
h2{
  text-align: center;
  font-size: 30pt;
  font-weight: lighter;
  margin: 0%;
  color: $bright-color;
}
