<div class="moderationDiv">
  <div>
    <div class="moderationIconDiv"></div>
  </div>
  <div>
    <h2 class="moderationTitle">MODERATION</h2>
    <div>
      <p>
        Gut zuhören und vermitteln, das ist mein Job. Ich moderiere Ihre
        Präsentation, Diskussionsrunde oder Informationsveranstaltung.
      </p>
      <p>
        Ich bringe Sie ins Gespräch und sorge dafür, dass alle verstehen, worauf
        Sie hinauswollen. Wenn’s sein muss mit Humor.
      </p>
    </div>
  </div>
</div>
